/* Custom CSS to hide checkbox and style checked state */
.btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-primary.active {
    background-color: #286090; /* Change to your desired active button color */
    border-color: #204d74; /* Adjust border color accordingly */
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: auto;
    background-image: url(/static/images/background.jpg);}
