<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/500.css" rel="stylesheet">
   
</head>
<body>
    <section class="centered">
        <h1>500 Server Error</h1>
        <div class="container">
          <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
          <div><span class="hidden" id="js-hidden">Message Here</span></div>
        </div>
      </section>
</body>
 <script type="text/javascript" src="/static/500.js"></script>
</html>